* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  /*variáveis*/
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-dark: #364FC7; 
}

body.dark {
  --bg-color: #fff;
  --text-color: #ced4da;
  --primary-color: #28313a;
  --primary-color-dark: #0b111b;
}
  
body {
  background-image: url("./image/Frame 6.webp");
  background-position: center;
  background-size: cover;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  width: 350px;
  margin: 60px auto;
  padding: 15px;

  background-color: rgb(225, 225, 225, 0.1);
  border-radius: 1rem;
  border: 1px solid transparent;
  backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0,0.5);

  border-top-color: rgb(225, 225, 225, 0.5);
  border-right-color: rgb(225, 225, 225, 0.1);
  border-bottom-color: rgb(225, 225, 225, 0.1);
  border-left-color: rgb(225, 225, 225, 0.5);
}



img {
  width: 100%; 
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;
}

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

#icon img{
  margin-bottom: -0.5rem;
  height: 30px;
  width: auto;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul img {
  width: 45px;
  height: 45px;
  text-align: left;
  margin-right: 30px;
  border-radius: 6px;
}

ul li #card {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color); /* hex: 0 - F */
  color:var(--bg-color);
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 400ms;
}

/* pseudo-class */
ul li #card:hover {
  background: var(--primary-color-dark);
  letter-spacing: 1px;
  color: #FFFFFF;
}

footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a{
  color: var(--text-color);
}

.social{
  text-align: center;
  width: 350px;
  margin: -10px auto;
  padding: 0px;
}
.redes{
  display: flex;
  justify-content: space-between;
}

a{
  color:var(--bg-color);
  text-transform: uppercase;
  font-size: 14px;
}

a:hover{
  transition: 1s;
  opacity: 0.7;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
